@import "reset.css";

body {
    font-family: Tahoma, Geneva, Kalimati, sans-serif;
    background: #EEEEEE;
}

form {
    margin: 15px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    color: #0F3458;
    margin-bottom: 20px;
}

h2 {
    color: #5f5f5f;
    margin-bottom: 30px;
}

fieldset {
    display: inline;
    margin-left: 10px;
}

legend {
    text-transform: uppercase;
    font-weight: bold;
    color: #868686;
    margin-bottom: 10px;
}

span {
    color: #264667;
}

input {
    display: block;
}

input[type="text"] {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #DCDCDC;
}

input[type="submit"] {
    font-size: 15px;
    color: #2E4D6C;
    background: transparent;
    border: 2px solid #2E4D6C;
    width: 150px;
    height: 35px;
    float: right;
}

.login {
    width: 320px;
    height: 238px;
    background: #234465;
    vertical-align: top;
    padding-left: 15px;
}

.login > legend {
    position: relative;
    left: -15px;
    color: #FFFFFF;
    background: #234465;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 65px;
}

label {
    color: #FFFFFF;
    font-size: 12px;
}

input[type="checkbox"] {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: top;
}

.login > input[type="submit"]{
    color: #FFFFFF;
    border: 2px solid #d7951b;
    margin-right: 17px;
}

a {
    display: block;
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 210px;
}

::-webkit-input-placeholder {
    padding-left: 10px;
}

:-moz-placeholder {
    padding-left: 10px;
}

::-moz-placeholder {
    padding-left: 10px;
}

:-ms-input-placeholder {
    padding-left: 10px;
}